.logo {
  padding: 24px 0px 25px 0px;

  color: $primary-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: $accent-color;
}
