.site-nav {
  display: flex;
  margin-left: 93px;
}
.item:not(:last-child) {
  margin-right: 50px;
}

.link-menu {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    right: 0;

    width: 100%;

    background-color: $accent-color;
    border-radius: 1px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
